<!DOCTYPE htm>
<article>
    <div class="row">
        <div class="col-md-6">
            <h4>{{ card.question }}</h4>
        </div>
        <div class="col-md-6">
            <p style="text-align: right;">{{ card.card_set }}</p>
        </div>

    </div>
    {% if not check_card %}
        <p>{{ card.answer }} </p>
        <hr>
        <a href="{% url 'card-update' card.id %}" role="button">
            ✏️ Edit Card
        </a>
    {% else %}
        <details>
            <summary>Reveal Answer</summary>
            <p>{{ card.answer }}</p>
        </details>
        <hr>
        {% include "cards/card_check_form.html" with solved=True %}
        {% include "cards/card_check_form.html" with solved=False %}
    {% endif %}
</article>

 